:root {
    --background-color: #eaeaea;
    --text-color: #191919;
    --primary-color: #985b00;
    font-size: 16px;
}

[data-theme="light"] {
    --background-color: #eaeaea;
    --text-color: #191919;
    --primary-color: #985b00;
}

[data-theme="dark"] {
    --background-color: #191919;
    --text-color: #eaeaea;
    --primary-color: #FF9802;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'lilita one', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.opciones {
    position: relative;
    display: flex;
    height: auto;
}

.navbar .menuboton {
    display: none;
}

.content {
    height: 3rem;
}

.moving-gif {
    position: fixed;
    top: 3.125rem;
    left: 0;
    z-index: 1;
    transition: left 0.2s linear;
}

body {
    padding-top: calc(10%);
    background-color: #2c2c2c;

}

.container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2c2c2c;
    max-width: 80rem;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: #4363f1;
}
.logo:hover {
    cursor: pointer;
}

.navbar {
    background-color: var(--background-color);
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: calc(100%);
    height: 4.6875rem;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

.Language {
    color: #e0e0d8;
    margin: auto;
    font-size: 1.2em;
}

.lengbutton,
.menuboton {
    background-color: var(--background-color);
    border-style: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    margin: 0;
    padding: 0.3125rem 1.875rem;
}

.lengbutton:hover,
.menuboton:hover {
    background-color: #ffac30;
    color: var(--background-color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    img {
        width: calc(100%);
        height: auto;
    }

    .moving-gif {
        width: calc(20%);
        height: auto;
        transition: left 0.4s linear;
    }

    .fotoperfil {
        width: calc(80%) !important;
    }

    .centrar {
        width: calc(80%) !important;
    }

    .perfil {
        padding: 0.3125rem 0.125rem 0.625rem 0.125rem !important;
        margin-bottom: 0.125rem;
    }

    .perfil h1 {
        font-size: medium;
    }

    .w3c {
        height: 2rem !important;
    }

    .cuadro {
        min-width: calc(65% + 2rem) !important;
        max-width: calc(65% + 2rem) !important;
        text-align: center !important;
    }

    .container {
        margin: 1rem 1.25rem 1rem 1.25rem;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .navbar .menuboton {
        display: block;
    }

    .titulo {
        font-size: 1.6em;
    }

    .navbar .logo {
        margin-left: 0 !important;
        margin-top: 0 !important;
        text-align: center;
    }

    .navbar .logo_text {
        margin-left: 0 !important;
        text-align: center;
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
    }

    body {
        padding-top: calc(30%);
    }

    .opciones {
        display: none;
        text-align: center;
        flex-direction: column;
        margin-right: 0;
    }

    .c_imagen {
        width: calc(20%) !important;
    }

    .proyecto {
        display: flex;
        gap: 0.5rem !important;
        flex-direction: column;
    }

    .fotoproyecto {
        width: calc(80%) !important;
    }

    .contact {
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        position: relative !important;
        top: 0% !important;
        left: 0% !important;
        margin-top: 6rem;
        flex-direction: row !important;
    }

    .contact_image {
        width: 3.125rem;
        height: auto;
        transition: transform 0.5s;
        margin: 0 !important;
    }


}

.navbar .logo {
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: 1.25rem;
    margin-bottom: auto;
}

.navbar .logo_text {
    height: auto;
    margin-left: 1.875rem;
    color: var(--primary-color);
}

.navbar .logo_text a {
    color: var(--primary-color);
    text-decoration: none;
}

.cuadro {

    text-align: justify;
    background-color: var(--background-color);
    box-shadow: 0.25rem 0.25rem 0.125rem 0.0625rem #000000;
    padding: 1.875rem;
    margin: 0.625rem 7rem 0.625rem 7rem;
    border-radius: 0.3125rem;
    min-width: 20rem;
    max-width: 50rem;
    width: 100%;
    z-index: 500;
    color: var(--primary-color);
}

hr {
    margin: 0.3125rem 0;
}

.fotoperfil {
    image-rendering: pixelated;
    width: calc(100%);
    height: auto;
    flex: 1 1 auto;
    margin-bottom: 0.3125rem;
}

.proyecto {
    display: flex;
    gap: 2rem;
}

.fotoproyecto {
    image-rendering: pixelated;
    align-self: center;
    width: calc(100%);
    height: auto;
}

.perfil {
    border: 0.125rem solid var(--text-color);
    text-align: center;
    float: right;
    color: var(--primary-color);
    margin-left: 1.25rem;
    margin-right: 0;
    padding: 0.9375rem 0.625rem 0 0.625rem;
}

.programing_Languages_images,
.social {
    display: inline-flex;
    justify-content: center;
    margin: 1.25rem 0;
}

.form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form .info,
.form .message_contact {
    display: inline-flex;
    flex-direction: column;
    margin: 0.625rem;
}

.form .message_contact {
    display: flex;
    align-items: center;
}

.form .message_contact label {
    width: 100%;
}

.form .message_contact textarea {
    height: 5rem;
    text-align: left;
}

.form .message_contact button {
    width: 5rem;
    margin: 0.625rem;
    padding: 0.625rem;
    text-align: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--primary-color);
}

.form .message_contact button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.form label,
.form textarea,
.form input {
    margin: 0.625rem;
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--primary-color);
}

.form textarea {
    width: 100%;
}

.contact {
    position: fixed;
    top: 45%;
    left: 2rem;
    z-index: 10;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}


footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: calc(100%);
    margin-top: 10rem;
    background-color: var(--background-color);
    z-index: 500;
}

.centrar {
    text-align: center;
    height: auto;
    padding: 1.875rem 0 0.625rem 0;
    width: calc(50%);
    z-index: 500;
}

.c_imagen {
    width: calc(10%);
    height: auto;
    margin: 0 0.1875rem;
}

.contact_image {
    width: 3.125rem;
    height: auto;
    transition: transform 0.5s;
}

.centrado {
    text-align: center;
}

p {
    color: var(--text-color);
    margin: 0.625rem 0 0.625rem 0;
}